body{
   background-color: peru;
   color: black;
   font-size: 20px;
}

h1{
    font-size: 30px;
    text-transform: uppercase;
}

p::first-letter{
    text-transform: uppercase;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

#primary-list{
    list-style: none;
}

.textoCentro{
    text-align: center;
    justify-content: center;
}

.table{
    display: auto;
    border: 2px solid black;
    grid-template-columns: auto auto;
    width: 100%;
    height: 500px;
    background-color: rgb(248, 195, 130);
}

.flex{
    display: flex;
}